
body{
    background-image: url("./mes images/bleu.jpg");
    text-align: center; 
}

h3{
    font-size: 30px;
}
.mapage{
    color:white;
    background-color: #180438ab;
    width:500px;
    margin: auto;
    line-height: 80px;
    height:400px;
    border-radius: 30px;
}

.form-control{
    height:15px;
    padding:10px;
    border-radius: 20px;
}

.btn{
     padding: 10px;
     color:white;
     background-color:#180438be ;
     border-radius: 20px;
}

.erreur{
    color:red;
    font-size: 20px;
}