body{
    background-image: url("./mes images/bleu2.jpg");
    text-align:center;
    margin:auto;
}
h3{
    color:white;
    margin-top: 100px;
    font-size:20px;
    padding-bottom: 50px;
}


img {
 
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    border-radius:180px;
}

.logout{
    padding:20px;
    background-color: white;
    width:200px;
    border-radius: 20px;
}

a{
    text-decoration: none;
    color:rgb(2, 2, 36);
}